p{
    color:red;
}
p,li,h1 { /*selector elemento (HTML) */
    color:red;
    width: 500px;
    border: 1px solid black;
}

#niveles{ /* selector de identidad (id) */
    background-color: burlywood;
    font-family: 'Bangers', cursive;
}
.sin.borde{ /* selector de clase (class) */
    color:orange;
    background-color: azure;
    border: 0px;
}

#niveles:hover{ /* selector de pseudo-clas*/
    background-color: rgb(red, green, blue);
    color: black;
}

label[for] {
    color: green;
}
